body
{
	background-image: url('../images/ghop1.jpg')
}
table
{
	width:30%;
	margin-left: 35%;
	margin-top: 15%;
	background-color:#2A8201;
	padding:20px;
	opacity: 0.8;
	color:tomato;
	text-align:center;
}
